################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XMapLib_Keyboard
/x64/Debug
/XMapLib_Keyboard/.vs/XMapLib_Keyboard
/XMapLib_Keyboard/x64
/XMapLib_Mouse/x64
/XMapLib_Utils/x64
/TestKeyboard/x64
/x64/Release
/PluginSFMLPoller/x64/Debug
/PluginXboxPoller/x64/Debug
/PollerPluginLib/x64/Debug
/TranslateActionLib/x64/Debug
/VirtualButtonDefines/x64/Debug
/XMapLib_Modules/x64/Debug
